### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
target/

src/main/java/palaiologos/kamilalisp/parser/Grammar.interp

src/main/java/palaiologos/kamilalisp/parser/Grammar.tokens

src/main/java/palaiologos/kamilalisp/parser/GrammarBaseListener.java

src/main/java/palaiologos/kamilalisp/parser/GrammarBaseVisitor.java

src/main/java/palaiologos/kamilalisp/parser/GrammarLexer.interp

src/main/java/palaiologos/kamilalisp/parser/GrammarLexer.java

src/main/java/palaiologos/kamilalisp/parser/GrammarLexer.tokens

src/main/java/palaiologos/kamilalisp/parser/GrammarListener.java

src/main/java/palaiologos/kamilalisp/parser/GrammarParser.java

src/main/java/palaiologos/kamilalisp/parser/GrammarVisitor.java

.idea/

dependency-reduced-pom.xml
