### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
target/

## ANTLR stuff ##
src/main/java/palaiologos/kamilalisp/parsers/Grammar.interp
src/main/java/palaiologos/kamilalisp/parsers/Grammar.tokens
src/main/java/palaiologos/kamilalisp/parsers/GrammarBaseListener.java
src/main/java/palaiologos/kamilalisp/parsers/GrammarBaseVisitor.java
src/main/java/palaiologos/kamilalisp/parsers/GrammarLexer.interp
src/main/java/palaiologos/kamilalisp/parsers/GrammarLexer.java
src/main/java/palaiologos/kamilalisp/parsers/GrammarLexer.tokens
src/main/java/palaiologos/kamilalisp/parsers/GrammarListener.java
src/main/java/palaiologos/kamilalisp/parsers/GrammarParser.java
src/main/java/palaiologos/kamilalisp/parsers/GrammarVisitor.java

src/main/java/palaiologos/kamilalisp/parsers/JSON.interp
src/main/java/palaiologos/kamilalisp/parsers/JSON.tokens
src/main/java/palaiologos/kamilalisp/parsers/JSONBaseListener.java
src/main/java/palaiologos/kamilalisp/parsers/JSONBaseVisitor.java
src/main/java/palaiologos/kamilalisp/parsers/JSONLexer.interp
src/main/java/palaiologos/kamilalisp/parsers/JSONLexer.java
src/main/java/palaiologos/kamilalisp/parsers/JSONLexer.tokens
src/main/java/palaiologos/kamilalisp/parsers/JSONListener.java
src/main/java/palaiologos/kamilalisp/parsers/JSONParser.java
src/main/java/palaiologos/kamilalisp/parsers/JSONVisitor.java

## IDE stuff ##
.idea/
dependency-reduced-pom.xml

## LaTeX stuff ##
doc/_minted-main/
doc/**/*.aux
doc/*.toc
doc/*.log
doc/*.out
doc/*.fls
doc/*.fdb_latexmk
